log_dir: "./logs"
log_level: "debug"
mysql: "root:lhisroot@unix(/var/run/mysqld/mysqld.sock)/passport?charset=utf8mb4&parseTime=True&loc=Local"
avatar_dir: "/opt/club.domiai.net/images/avatar/"

session_store_type: "cookie"
session_expire: 259200

# sms配置
sms: "tencentcloud" # sms供应商名，为空不启用sms相关功能。tencentcloud / ...
sms_conf:
  secret_id: "AKID6IVl2IIg4EOZpDWGzfHrS1W1UyV3a5X4"
  secret_key: "fIrdRIC6yutsojfgks8Sm9JXefjhcRFw"
  sdk_app_id: "1400831038"
  sign_name: "广研院"
  user_add_template_id: "1838424"
  user_login_template_id: "1838424"
  
wx_mini_app:
  appid: "wx848f2abe382f2555"
  secret: "8a14c5402f350f22bd3909c69b9fe288"

# 管理接口只有指定的租户可用
admin_tenant_id: 10049

# 业务服务API配置
api_conf:
  "api1":
    need_access: false
  "*": # 默认值
    need_access: true

